.header {
    width: 100%;
    height: 70px;
}

body a {
    text-decoration: none;
}

.header .package {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.header .package .shop_name {
    float: left;
    height: 98%;
}

.header .package .shop_name a {
    text-decoration: none;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

.header .package .shop_name a h1 {
    padding-top: 16px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .package .box_search {
    margin-top: -1px;
    height: 100%;
    display: flex;
    margin: auto;
    float: right;
}

.header .package .box_search span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-right: 5px;
    padding-top: 9px;
}

.header .package .box_search .search {
    padding-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 200px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

input[type=submit] {
    background: #ededed no-repeat 9px center;
    border: solid 1px #ccc;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}


/* end search */

.header .package .infor {
    padding-left: 30px;
    padding-top: 25px;
    display: flex;
}

.header .package .infor a.account {
    text-decoration: none;
    color: black;
}

#show {
    position: relative;
}

#hide {
    z-index: 2000;
    padding-left: 5px;
    width: 110px;
    height: 60px;
    background-color: rgb(214, 214, 214);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.header .package .infor a.account:hover #hide {
    visibility: visible;
    opacity: 1;
}

.header .package .infor .product a.cart {
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
}

#cart {
    font-size: 30px;
    padding-left: 10px;
}

.header .package .infor .product a.cart ul {
    padding-left: 5px;
    padding-top: 0px;
}

.header .package .infor .product a.cart ul li {
    font-size: 12px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .package .infor .product span {
    z-index: 2000;
    padding-left: 10px;
    padding-top: -5px;
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 250px;
    height: 60px;
    background-color: #ccc;
    color: black;
}

.header .package .infor .product:hover span {
    visibility: visible;
    opacity: 1;
}

.header .infor .account li ul li {
    position: absolute;
    display: none;
}

.header .infor .account li:hover ul {
    display: block;
}

.down-table li {
    list-style: none;
}

.down-table li:hover {
    background-color: rgb(230, 250, 252);
}

.icon-down {
    font-size: 0.3em;
}

.down-table {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header .infor .account li {
    list-style: none;
}

.header .infor .account a {
    padding-left: 20px;
    color: black;
    text-decoration: none;
}

.header .infor .account a:hover {
    color: rgb(167, 87, 87);
    text-decoration: none;
}


/* end-header */

.menu {
    padding-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #333;
}

.menu .package {
    width: 80%;
    height: 100%;
    margin: auto;
}

.menu .package .menu-ngang {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.menu .package .menu-ngang #menu1 {
    list-style: none;
    padding-top: 7px;
    padding-bottom: 6px;
}

.menu .package .menu-ngang #menu1 a.item1 {
    color: white;
    text-decoration: none;
}

.menu .package .menu-ngang #menu1 a.item1:hover {
    color: rosybrown;
}

#menu11 {
    z-index: 100;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    padding-left: 0;
    margin-top: 9px;
    color: black;
    background: white;
    list-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#menu11 li {
    list-style: none;
}

#menu11 li #item2:hover {
    background-color: rgb(230, 250, 252);
}

.menu .package .menu-ngang #menu1:hover #menu11 {
    visibility: visible;
    opacity: 1;
}

#item2 {
    display: block;
    margin-left: 0px;
    padding: 12px 24px;
    text-decoration: none;
    color: black;
}


/* end-menu */

.information {
    width: 100%;
    background-color: black;
    margin: auto;
}

.information .package {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.information .package .information1 {
    width: 25%;
}

.information .package h1 {
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 16px;
}

.information .package .information1>span {
    display: block;
    font-size: 13px;
}

.information .package .information1>ul {
    margin-left: -37px;
    font-size: 13px;
}

.information .package .information1>ul>li {
    padding-top: 5px;
    list-style: none;
    display: block;
}

.information .package .information1>ul>li>a {
    color: white;
    text-decoration: none;
}

.information .package .information2 {
    margin-left: -100px;
}

.information .package .information2 ul {
    margin-left: -37px;
}

.information .package .information2>ul>li {
    font-size: 12px;
    padding-bottom: 10px;
    list-style: none;
}

.information .package .information2>ul>li>i {
    padding-right: 5px;
}

.information .package .information2>ul>li>a {
    color: white;
    text-decoration: none;
}

.information .package .payment {
    margin-right: 150px;
}

.information .package .payment>ul {
    margin-left: -37px;
    display: flex;
}

.information .package .payment>ul>li {
    list-style: none;
    margin-right: 3px;
}

.information .package .payment>ul>li>img {
    width: 40px;
}


/* end-information */

.banner-end {
    margin: auto;
    width: 100%;
    height: 70px;
    background: rgb(47, 46, 46);
}

.banner-end .package {
    margin: auto;
    width: 80%;
    display: flex;
}

.banner-end .package .banner-left {
    padding-top: 25px;
}

.banner-end .package .banner-right {
    margin-left: 250px;
    padding: auto;
}

.banner-end .package .banner-right ul {
    padding-top: 25px;
    display: flex;
}

.banner-end .package .banner-right ul li {
    list-style: none;
}

.banner-end .package .banner-right>ul>li>a {
    text-decoration: none;
}

.banner-end .package .banner-right ul li a i {
    color: rgb(7, 6, 6);
    font-size: 20px;
    padding-right: 20px;
}


/* end-banner */

.contact {
    top: 86%;
    left: 20px;
    position: fixed;
    z-index: 1024;
}

.contact i {
    font-size: 30px;
}

.contact1 {
    top: 86%;
    right: 20px;
    position: fixed;
    z-index: 1024;
}

.contact1 i {
    font-size: 50px;
}

.fixed {
    top: 0px;
    position: fixed;
    z-index: 8000;
}

.logout a {
    text-decoration: none;
}