#slide{
    margin: auto;
   width: 1500px;
   height: 850px;
}
#slide img{
    width:1500px;
    height: 800px;
   
}
/* end-slide */
.title{
    width:100% ;
    margin: auto;
    justify-content: space-between;
    text-align: center;
}
.title span{ 
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.title div{
    margin: auto;
    width: 185px;
    height: 0.25em;
    background-color: gray;
}
/* end-title */
.shoes{
    width: 100%;
}
.shoes .package{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shoes .package .product1{
    
    width: 280px;
    height: 320px;
}
.shoes .package .product1 .thumbai{
    position: relative;
    width: 280px;
    height: 320px;
}
.shoes .package .product1 .thumbai .icon-sale{
    top:18px;
    position: absolute;
    right: 8px;
    z-index: 100;
    background-image:url(css/icon-sale.png);
    height: 40px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: white;
}
.shoes .package .product1 .thumbai .name{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}

.shoes .package .product1 .thumbai ul{
    margin-top:20px;
    margin-left:10px;
    display: flex;
}
.shoes .package .product1 .thumbai ul li{
    list-style: none;
    margin:5px;
}

#find-in>img{
    position: absolute;
    top:15px;
    left: 0px;
    opacity: 0;
}
.shoes .package .product1 .thumbai:hover #find-in>img{
         opacity: 1;
}
/* end-shoes */
.fashion{
    margin-top: 20px;
    width: 100%;
}
.fashion .package{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 90%;
}
.fashion .package .fashion1{
    width: 280px;
    height: 500px;
    margin-right: 20px;
}
.fashion .package .fashion1 .thumbai{
    position: relative;
    width: 280px;
    height: 500px;
}
.fashion .package .fashion1 .thumbai .icon-sale{
    top:0px;
    position: absolute;
    right: -4px;
    z-index: 100;
    background-image:url(css/icon-sale.png);
    height: 40px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: white;
}
.fashion .package .fashion1 .thumbai .name{
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
    margin-top: 0px;
}
.fashion .package .fashion1 .thumbai ul{
    margin-top:15px;
    margin-left:10px;
    display: flex;
}
.fashion .package .fashion1 .thumbai ul li{
    list-style: none;
    margin:5px;
}
#clother-in>img{
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0;
}
.fashion .package .fashion1 .thumbai:hover #clother-in>img{
    opacity: 1;
}
/* end-fashion */
.news{
    margin: auto;
    margin-top: 20px;
    width: 100%;
}
.news .package{
    width: 90%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}
.news .package .new1{
       height: 300px;
       padding-right:20px;
}
.news .package .new1 .thumbai{
    margin-left: auto;
    width: 100%;
    height: 400px;
}

.news .package .new1 .thumbai .name{
    margin-left:100px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.news .package .new1 .thumbai .more{
   margin-left:100px;
   color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight:500;
   font-size: 12px;
}

.news .package .new1 .thumbai .more:hover{
    color: rgb(46, 176, 241);
}
/* end-news */
.video{
    width: 100%;
    margin: auto;
}
.video .package{
    margin-top:60px;
    margin-left: auto;
    width:90%;
    display: flex;
}
iframe{
    margin-right: 21px;
}
/* end-video */
.information{
    width: 100%;
    background-color: black;
    margin: auto;
}
.information .package{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.information .package .information1{
    width: 25%;
}
.information .package h1{
    padding-top:60px;
    padding-bottom: 10px;
    font-size: 16px;
}
.information .package .information1>span{
    display: block;
    font-size: 13px;
}
.information .package .information1>ul{
    margin-left: -37px;
    font-size: 13px;
}
.information .package .information1>ul>li{
    padding-top:5px;
    list-style: none;
    display: block;
}
.information .package .information1>ul>li>a{
    color: white;
    text-decoration: none;
}
.information .package .information2{
    margin-left:-100px;
}
.information .package .information2 ul{
   margin-left: -37px;
}
.information .package .information2>ul>li{
    font-size: 12px;
    padding-bottom: 10px;
    list-style: none;
}
.information .package .information2>ul>li>i{
    padding-right: 5px;
}
.information .package .information2>ul>li>a{
    color: white;
    text-decoration: none;
}
.information .package .payment{
    margin-right:150px;
}
.information .package .payment>ul{
    margin-left:-37px;
    display: flex;
}
.information .package .payment>ul>li{
    list-style: none;
    margin-right: 3px;
}
.information .package .payment>ul>li>img{
    width:40px;
}

/* end-information */
.banner-end{
    margin: auto;
    width: 100%;
    height: 70px;
    background: rgb(47, 46, 46);
}
.banner-end .package{
    margin: auto;
    width: 80%;
    display: flex;
}
.banner-end .package .banner-left{
    padding-top: 25px;
}
.banner-end .package .banner-right{
    margin-left: 250px;
    padding: auto;
}
.banner-end .package .banner-right ul{
    padding-top: 25px;
    display: flex;
}
.banner-end .package .banner-right ul li{
    list-style: none;
}
.banner-end .package .banner-right>ul>li>a{
    text-decoration: none;
}
.banner-end .package .banner-right ul li a i{
    color: rgb(7, 6, 6);
    font-size: 20px;
    padding-right: 20px;
}
/* end-banner */
.contact{
    top:86%;
    left:20px;
    position: fixed;
    z-index: 1024;
}
.contact i{
    font-size: 30px;
}
.contact1{
    top:86%;
    right:20px;
    position: fixed;
    z-index: 1024; 
}
.contact1 i{
    font-size: 50px;
}
.fixed{
    top:0px;
    position: fixed;
    z-index: 8000;
}

.logout a{
    text-decoration: none;
}
